<div id="{{id}}" class="{{featureStyle}} feature">
    <div class="content">
        <div class="content-heading">
            <p>{{contentHeading}}</p>
        </div>
        <div class="content-icon">
            {{{contentIcon}}}
        </div>
        <div class="content-info">
            <p>{{contentInfo}}</p>
        </div>
        <div class="content-learn-button">
            <p>Learn more</p>
            <i class="fas fa-long-arrow-alt-right"></i>
        </div>
    </div>
    <div class="blue-bar">
    </div>
</div>