<div id="{{id}}" class="{{className}}">
    <div class="team-member-content">
        <div class="team-member-name">
            <p>{{name}}</p>
        </div>
        <div class="team-member-icon">
            {{{icon}}}
        </div>
        <div class="team-member-pic">
            <img src="{{url}}"/>
        </div>
        <div class="team-member-info">
            <p>{{info}}</p>
        </div>
        <div class="content-learn-button">
            <p>Learn more</p>
            <i class="fas fa-long-arrow-alt-right"></i>
        </div>
    </div>
    <div class="blue-bar">
    </div>
</div>